
<!-- contains a search bar -->
<div class="col-md-12">
  <!-- nav buttons to add-product and category pages -->
  <div class="nav-buttons col-md-5">
    <a routerLink="/product" class="btn btn-primary">Add new product</a>
    <a routerLink="/category" class="btn btn-primary">Add new category</a>
  </div>

  <!-- search bar -->
  <div class="search-bar col-md-6">
    <!-- <div class="well well-sm"> -->
      <form>
        <div class="form-group col-md-10">
          <input type="text" class="form-control" name="q" placeholder="Search">
        </div>
        <button class="btn btn-default"><i class="fa fa-search"></i></button>
      </form>
    <!-- </div> -->
  </div>
</div>