<div class="row">
  <div class="col-md-12">
    <h4 *ngIf="!cart" class="centered">
      Nothing to show in your cart. <br> <br> 
      <a routerLink="/" class="btn btn-info centered"><i class="fa fa-angle-left"></i> Continue shopping</a>
    </h4>

    <table *ngIf="cart" id="cart" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th style="width:50%">Product</th>
          <th style="width:10%">Price</th>
          <th style="width:8%">Quantity</th>
          <th style="width:22%" class="text-center">Subtotal</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.items">
          <td data-th="Product">
            <div class="row">
              <div class="col-sm-3 hidden-xs">
                <img id="cart-img" src="http://localhost:3000/file/{{item.image.image_name}}" class="img-responsive" alt="item image"/>
              </div>
              <div class="col-sm-9">
                <h4 class="nomargin">{{item.title}}</h4>
                <p>{{item.description}}</p>
              </div>
            </div>
          </td>
          <td data-th="Price">{{ item.price | currency:'ZMW' }}</td>
          <td data-th="Quantity">
            <input type="number" name="quantity" [(ngModel)]="item.qty" class="form-control text-center" #qty="ngModel" [min]="1">
          </td>
          <td data-th="Subtotal" class="text-center">{{ item.price * item.qty | currency:'ZMW' }}</td>
          <td class="actions" data-th="">
            <button *ngIf="qty.dirty" class="btn btn-info btn-sm" (click)="updateItem(qty.value)">Update</button>
            <button class="btn btn-danger btn-sm" (click)="removeItem(item._id)"><i class="fa fa-times"></i></button>								
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="visible-xs">
          <td class="text-center"><strong>Total {{cart.total | currency:'ZMW'}} </strong></td>
        </tr>
        <tr>
          <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
          <td colspan="2" class="hidden-xs"></td>
          <td class="hidden-xs text-center"><h5>Total <small id="total">{{cart.total | currency:'ZMW'}}</small> </h5></td>
          <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>