<div class="row">
    <div>
        <div class="container">
            <a class="">
                <img src="../../assets/merch-line.png">
            </a>
        </div>
    </div>
</div>
<div class="row">
    <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">

        <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
            <h1>{{Tile + 1}}</h1>
            <h4>{{Tile + 1}}</h4>
            <label><h6>ZMW {{Tile + 1}}</h6></label>
        </ngx-tile>

        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
</div>
<div class="row">
    <div>
        <div class="block customhero">
            <a class="">
                <img src="../../assets/merch-line2.png">
            </a>
        </div>
    </div>
</div>
<div class="row">
    <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">

        <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
            <h1>{{Tile + 1}}</h1>
            <h4>{{Tile + 1}}</h4>
            <label><h6>ZMW {{Tile + 1}}</h6></label>
        </ngx-tile>

        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
</div>
<div class="row">
    <div>
        <div class="block customhero">
            <a class="">
                <img src="../../assets/merch-line-end.png">
            </a>
        </div>
    </div>
</div>