h1 {
    min-height: 200px;
    background-color: #ccc;
    text-align: center;
    line-height: 200px;
    overflow: hidden;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}


/* Carousel card CSS */

.item img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.item:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* carousel tile area CSS */

.tile-content {
    padding: 2px 16px;
}


/* end carousel card CSS*/

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}


/* CSS for merch line end image */

.line-end {
    text-align: center;
}