<div class="row">
  <div class="col-md-12">

    <!-- Error message -->
    <h4 *ngIf="!product">Error: This product doesnt exist.</h4>
    <div *ngIf="product" class="panel panel-default">
      <div class="panel-body">
        <!-- 1st half -->
        <div class="col-md-6">
          <!-- <h1>Images</h1> -->
          <div>
              <ngx-carousel [inputs]="carouselBanner" (onMove)="onmoveFn($event)">
                <!-- for-loop comes on the ngx-item -->
                <ngx-item NgxCarouselItem *ngFor="let img of product.images" class="bannerStyle">
                  <h1>
                    <img src="http://localhost:3000/file/{{img.image_name}}">
                  </h1>
                </ngx-item>
              
                <button NgxCarouselPrev class='leftRs'>&lt;</button>
                <button NgxCarouselNext class='rightRs'>&gt;</button>
              </ngx-carousel>
          </div>
        </div>
        
        <div class="col-md-6 card">
          <h3 class="product-title">{{product.name}}</h3>
          <p class="description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of 
              Letraset sheets containing Lorem Ipsum passages, and more 
              recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <h4 class="price">Price: <span>{{ product.price | currency:'ZMW' }}</span></h4>

          <div class="col-md-6 col-sm-5 col-xs-7 quantity">
            <label class="control-label">Quantity:</label> <input type="number" name="quantity" [(ngModel)]="quantity" class="form-control">
          </div>
          <div class="action-btn">
            <button type="button" class="btn btn-lg btn-info" (click)="addToCart(product)">Add to cart</button>
          </div>
        </div><!-- ./2nd half -->
      </div>
      
  </div>
</div>