<div class="row">
    <div>
        <div class="block customhero">
            <a class="">
                <img src="assets/img/header/merch_line.png">
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-right">
            <input class="form-control" placeholder="Search for Item" type="text" id="sm">
        </div>
    </div>
</div>
<div class="row">
  <div class="col-lg-2">
      <div class="panel panel-default">
          <div class="panel-heading">Filter</div>
          <div class="panel-body">Panel Content</div>
        </div>
  </div>
  <div class="col-lg-10">
      <div class="row">
          <div class="col-lg-4">
              <img src="assets/img/sample-products/1.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          </div>
          <div class="col-lg-4">
              <img src="assets/img/sample-products/2.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          </div>
          <div class="col-lg-4">
              <img src="assets/img/sample-products/3.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
              <img src="assets/img/sample-products/4.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          </div>
          <div class="col-lg-4">
              <img src="assets/img/sample-products/5.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          </div>
          <div class="col-lg-4">
              <img src="assets/img/sample-products/6.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
          </div>
        </div>
    </div>
</div>