<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- for categories -->
      <div class="col-md-10 col-md-offset-1" *ngIf="category">
        <h2>Category Details - <small>{{category.name}}</small></h2>
        <div class="panel panel-default">
          <div class="panel-heading">Details</div>
          <div class="panel-body">
            <ul>
              <p><strong>Name:</strong> {{category.name}} </p>
              <p><strong>Description:</strong> {{category.description}}</p>
            </ul>
            <div class="back-btn">
              <a routerLink="/admin/categories" class="btn btn-primary">
                <i class="fa fa-arrow-left"></i> Back
              </a>
            </div>
          </div>
        </div>
      </div> <!-- ./panel -->

      <!-- for products -->
      <div class="col-md-10 col-md-offset-1" *ngIf="product">
        <h2>Product Details -
          <small>{{product.name}}</small>
        </h2>
        <div class="panel panel-default">
          <div class="panel-heading">Details</div>
          <div class="panel-body">
            <h1>Image carousel here</h1>
        
            <ul>
              <p><strong>Name:</strong> {{product.name}} </p>
              <p><strong>Category:</strong> {{product.category}}</p>
              <p><strong>Price:</strong> {{ product.price | currency: 'ZMW'}}</p>
              <p><strong>Description:</strong> {{product.description}}</p>
              
                <strong>Images:</strong> 
                <ul *ngFor="let img of product.images">
                  <li>{{img.image_name}}</li>
                </ul>
              
            </ul>
            <div class="back-btn">
              <a routerLink="/admin/products" class="btn btn-primary">
                <i class="fa fa-arrow-left"></i> Back
              </a>
            </div>
        
          </div>
        </div>
      </div><!-- ./panel -->

    </div>
  </div>
</div>
