<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Agora logo</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--left navbar items-->
                <li>
                    <a [routerLink]="['/']">Store front</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--Right navbar items-->
                <li>
                    <button class="btn btn-default padded-top" (click)=showConfirm()>Show Cart</button>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/categories']">Categories</a>
                </li>
                <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']">
                    <a [routerLink]="['/cart']">Cart
                        <!-- <span class="badge badge-info">{{ getCartCount() }}</span> -->
                    </a>
                </li>
                <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Admin <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu multi-level" role="menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Products</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" [routerLink]="['/admin/products']">Manage products</a></li>
                                <li><a [routerLink]="['/admin/product/create']">Create product</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Categories</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" [routerLink]="['/admin/categories']">Manage categories</a></li>
                                <li><a [routerLink]="['/admin/category/create']">Create category</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Orders</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li *ngIf="!authService.loggedIn()">
                    <button class="btn btn-default padded-top" (click)="showLogin()">Sign In</button>
                </li>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </form>
                <!-- /.dropdown -->
                <li *ngIf="authService.loggedIn()" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        <!-- user names here -->
                        {{ getUsername() }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a [routerLink]="['/profile']"><i class="fa fa-user fa-fw"></i>My Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a (click)="onLogout()" href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
        </div>
    </div>
</nav>