<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Agora Store <small>Admin panel</small></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav"></ul> -->
      
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']"><a routerLink="/dashboard">Dashboard</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/orders">Orders</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/categories">Categories</a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
             <i class="fa fa-user"></i> Username<span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a routerLink="/profile"><i class="fa fa-user"></i> Profile</a></li>
            <li><a routerLink="/"><i class="fa fa-bell"></i> Notifications</a></li>
            <li class="divider"></li>
            <li><a routerLink="/"><i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>