<!-- Orders component html -->

<div class="container">
    <div class="row">
      <h3>Orders</h3>
      <div class="col-md-12">
        <!-- Plugin for the search-bar component -->
        <app-search-bar></app-search-bar>
      </div>
    </div> <!-- ./row -->    

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Orders overview</div>
          <div class="panel-body">
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th>Product ID</th>
                  <th>Name</th>
                  <th>Quantity ordered</th>
                  <th>Order date</th>
                  <th>Order Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                </tr>
              </tbody>
            </table> 
  
          </div>
        </div>
      </div> <!-- ./col -->
      
    </div>
  </div> <!-- ./container -->